<h1><%= @track.name %></h1>

<p><%= link_to "Parent album", album_url(@track.album_id) %></p>
<%= button_to "Edit track", edit_track_url, method: :get %>
<%= button_to "Delete track", track_url(@track), method: :delete %>
